#displayed_courses {
  position: static;
  height: 40%;
  width: 80%;
  display: block;
  font-size: 14px;
  margin: 5px;
  overflow-y: scroll;
  display: block;
  visibility: hidden;
}
html, body { height: 100%; }
.container {
  font-size: large;
  position: relative;
  left: 5px;
  margin-top: 5px;
  display: inline-block;
  
  
}
#tablo th {
  border: 1px solid black;
  font-size: 14px;
}
#tablo td {
  border: 1px solid black;
  font-size: 16px;
}
#displayed_courses tr:nth-child(even) {
  background-color: #eee;
}
#displayed_courses tr:nth-child(odd) {
  background-color: #fff;
}
#displayed_courses th {
  width: 10%;
  text-align: center;
}
#displayed_courses td {
  width: 10%;
  text-align: center;
}
#course_table {
  table-layout: fixed;
  position: static; 
  margin: 5px 0px 5px 5px;
  border-spacing: 0;
  width: 80%;
  text-align: center;
  font-size: 12px;
  
  height: 50%;
  
}
#credits {
  display: inline-block;
  right: 4%;
  position: absolute;
  top: 2%;
  width: 12%;
  list-style-type: none;

  /* overflow: auto; */
  max-height: 100%;

  
  
}
